.pc_wrapper {
  margin: 0;
  z-index: -1;
  background-image: url("./wall3.jpg");
  background-size: cover;
}
.pc_wrapper2 {
  display: grid;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  grid-template-columns: 250px 1fr 5.5fr 2.5fr;
}

.pc {
  display: grid;
  padding: auto;
  grid-template-rows: auto auto;
  grid-gap: 0;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 6px 4px rgba(163, 163, 163, 0.83);
  -webkit-box-shadow: 0px 0px 6px 4px rgba(163, 163, 163, 0.83);
  box-shadow: 0px 0px 6px 4px rgba(163, 163, 163, 0.83);
}
.pc:hover {
  -moz-box-shadow: 0px 0px 8px 6px rgba(163, 163, 163, 0.83);
  -webkit-box-shadow: 0px 0px 8px 6px rgba(163, 163, 163, 0.83);
  box-shadow: 0px 0px 8px 6px rgba(163, 163, 163, 0.83);
}
.pcBox1 {
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
  background-color: rgb(241, 101, 101);
  border-radius: 3px;
  border: 0px outset #cccccc;
  border-bottom: 0;
  position: relative;
  opacity: 1;
  height: 265px;
  width: 250px;
}
.profile_name {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  margin-top: 10px;
  text-align: center;
  color: white;
  font-weight: 800;
  font-family: Helvetica;
}
.pcBox2 {
  text-align: center;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 0px outset #cccccc;
  position: relative;
  opacity: 1;
  height: 255px;
  width: 250px;
}
.pcBox2ValuesTable {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 0 solid black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: rgba(105, 105, 105, 0.9);
}
.c1 {
  text-align: left;
}
.c2 {
  text-align: center;
}
.c3 {
  text-align: left;
}
.profile_pic {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: url("./img_avatar.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.sep_line {
  border-left: 6px solid rgba(195, 195, 195, 0.7);
  height: 200px;
  margin: auto auto auto 40px;

  border-radius: 3px;
}
.chart {
  padding-top: 10px;
}
.chart > h1 {
  text-align: center;
  font-family: Helvetica;
  font-weight: 800;
  background: linear-gradient(to right, rgb(132, 232, 250), rgb(111, 70, 145));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nutrients-details {
  top: 500px;
  display: grid;
  grid-template-rows: auto auto auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.category {
  position: relative;
  margin-top: 10px;
  text-align: center;
  color: rgba(90, 90, 90, 0.9);
  font-weight: 700;
}
.category_value {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  border: none;
  color: transparent;
  font-weight: 900;
  background: linear-gradient(
    to right,
    rgb(241, 21, 21, 0.7),
    rgb(146, 12, 63)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chart_box {
  text-align: center;
  top: 150px;
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 0px outset #cccccc;
  position: relative;
  opacity: 1;
  height: 255px;
  width: 270px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 3px 4px rgba(163, 163, 163, 0.83);
  -webkit-box-shadow: 0px 0px 6px 4px rgba(163, 163, 163, 0.83);
  box-shadow: 0px 0px 6px 4px rgba(163, 163, 163, 0.83);
}
.chart_box:hover {
  -moz-box-shadow: 0px 0px 8px 6px rgba(163, 163, 163, 0.83);
  -webkit-box-shadow: 0px 0px 8px 6px rgba(163, 163, 163, 0.83);
  box-shadow: 0px 0px 8px 6px rgba(163, 163, 163, 0.83);
}
